{
  "stage": 2,
  "optional": [
    "es7.functionBind",
    "es7.decorators"
  ],

  "plugins": [
    "babel-plugin-module-alias"
  ],

  "extra": {
    "module-alias": [
      { "src": "./", "expose": "root" },
      { "src": "./src/main", "expose": "main" },
      { "src": "./src/web", "expose": "web" }
    ]
  }}
