{
  "stage": 2,
  "optional": ["es7.functionBind"],

  "plugins": [
    "babel-plugin-module-alias"
  ],

  "extra": {
    "module-alias": [
      { "src": "./src/main", "expose": "main" },
      { "src": "./src/web", "expose": "web" }
    ]
  }}
