sidebarBackgroundColour = #282828

.dense_theme
  #messages_container
    background-color #202020

  .day_divider
    background-color #202020
    color hsl(0, 0%, 95%)

  .day_divider_label
    color #202020

  .message
    color hsl(0, 0%, 95%)

  .message.divider
    border-top none

  .message.first,
  .message.first.divider
    margin-top 0

  .message .timestamp
    display block
    color hsl(0, 0%, 45%)

  #footer
    background-color #202020

  #col_channels
    background-color sidebarBackgroundColour

  .tab-content
    .tab-pane
      background-color sidebarBackgroundColour

  #details_tab
    .channel_page_section
      background-color sidebarBackgroundColour
