.about
  overflow-y auto

  > *
    text-align center

  .app-name
    padding-bottom 0.5em
    font-size 1.3em

  .slack-logo
    padding 0.5em

  .slack-not-affiliated
    font-size 0.8em
    margin 0 auto
    max-width 20em
