.about
  text-align center

  .app-name
    padding-bottom 0.5em
    font-size 1.3em

  .product-version
    line-height 1.4

    > *
      display inline-block
      width 50%
      box-sizing border-box
      padding 0 0.3em

    .label
      text-align right
      border-right solid 1px gray

    .version
      text-align left

  .slack-logo
    padding 0.5em

  .slack-not-affiliated
    font-size 0.8em
