.popup,
.overlay
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.popup
  display flex
  justify-content center
  align-items center

  .overlay
    background black
    opacity 0.75

  .popup-content
    z-index 1
    background-color white
    border solid 4px hsl(0, 0%, 80%)
    border-radius 1em
    padding 2em
